.App {
    text-align: center;
}

.dashboardd {
    /* width: 80%; */
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

section {
    margin: 20px 0;
    text-align: center;
}

.resourcesd {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.resource-cardd {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
}
.resource-cardd p{
    color: black;
}
.resource-cardd img{
    width: 15rem;
}

.farmer-detailsd{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.farmer-detailsd p {
    margin: 5px 0;
    color: black;
}