* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.containerh {
    width: 100%;
    height: 94vh;
    background-image: url(src/assets/r.jpg); 
    background-position: center;
    background-size: cover;
    padding: 0 100px;
    box-sizing: border-box;
}


.navbarh {
    height: 12%;
    display: flex;
    align-items: center;
    /* background-color: white; */
    background-color: rgba(139, 197, 206, 0.2);
    padding: 5px 20px;
    position: sticky;
    top: 0;
}

.logoh {
    width: 50px;
    cursor: pointer;

}

.menu-iconh {
    width: 30px;
    cursor: pointer;

}

.listh {
    flex: 1;
    text-align: right;
}

.listh ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

.listh ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.listh{
    margin: 0 40px;
}
.listh a{
    font-size: 15px;
    font-weight: 600;
    color: rgb(79, 72, 3);
}
.listh a:hover{
    color: rgb(127, 123, 123);
}
.search-barh {
    float: right;
    padding: 4px;
    background: white;
    /* background: rgb(226, 226, 226); */
    border: 0;
    outline: 0;
    border-radius: 20px;
    display: flex;
}
.search-barh input, .btnh {
    padding: 10px;
    border: 0 !important;
    outline: 0 !important;
    border-radius: 20px;
    /* background-color: rgb(226, 226, 226); */
    background-color: white;
}
.btnh:hover{
    cursor: pointer;
    background-color: #cac8c8;
}
.btnh{
    text-decoration: none;
    color: black;
    transition: .2s ease;
}
.loginh{
    margin: 0 10px;
    display: flex;
    gap: 5px;
    
}

.rowh {
    display: flex;
    height: 88%;
    align-items: center;
    gap: 5rem;
}

.colh {
    flex-basis: 50%;
}

h1 {
    color: white;
    font-size: 100px;
}

p {
    color: white;
    line-height: 20px;
    font-size: 15px;
}

.buttonh {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card1h {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(src/assets/f.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 4px 7px 16px 5px rgba(0,0,0,0.1);
}

.card2h {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(src/assets/Indian-Farmer.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 4px 7px 16px 5px rgba(0,0,0,0.1);
}

.card1h h5, .card2h h5{
    font-size: 25px;
}

.card1h p, .card2h p{
    font-size: 15px;
}