* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(src/assets/r.jpg); 
    background-position: center;
    background-size: cover;
    padding: 0 100px;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
    position: sticky;
    top: 0;
}

.logo {
    width: 50px;
    cursor: pointer;

}

.menu-icon {
    width: 30px;
    cursor: pointer;

}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.list{
    margin: 0 40px;
}
.list a{
    font-size: 15px;
    font-weight: 600;
    color: rgb(79, 72, 3);
}
.list a:hover{
    color: rgb(127, 123, 123);
}
.search-bar {
    float: right;
    padding: 4px;
    background: rgb(226, 226, 226);
    border: 0;
    outline: 0;
    border-radius: 20px;
}
.search-bar input, .btn {
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
}
.btn:hover{
    cursor: pointer;
    background-color: #cac8c8;
}
.btn{
    text-decoration: none;
    color: black;
    transition: .2s ease;
}
.login{
    margin: 0 10px;
    display: flex;
    gap: 5px;
    
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
    gap: 5rem;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: white;
    font-size: 100px;
}

p {
    color: white;
    line-height: 20px;
    font-size: 15px;
}

.button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card1 {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(src/assets/f.jpg);
    background-position: center;
    background-size: cover;
}

.card2 {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(src/assets/Indian-Farmer.jpg);
    background-position: center;
    background-size: cover;
}

.card1 h5, .card2 h5{
    font-size: 25px;
}

.card1 p, .card2 p{
    font-size: 15px;
}