body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-containerlf {
    margin: 0;
    background-color: #eef8dd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(165, 168, 165, 0.9);
    width: 300px;
    text-align: center;
}

.login-containerlf h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-containerlf input[type="email"],
.login-containerlf input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-containerlf button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-containerlf button:hover {
    background-color: #218838;
}

.login-containerlf .linkslf {
    margin-top: 20px;
    text-align: center;
}

.login-containerlf .linkslf a {
    color: #007bff;
    text-decoration: none;
}
.login-containerlf .linkslf p{
    color: black;
}

.login-containerlf .linkslf a:hover {
    text-decoration: underline;
}

.black{
    text-decoration: none;
    color: white;
    background-color: #28a745;
    padding: 4px 10px;

}