body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #e0f0a0; */
}

.containersc {
    text-align: center;
}

.h2sc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: #333;
    margin-bottom: 20px;
}

.logosc {
    width: 50px;
    /* Adjust size as needed */
    height: 45px;
    /* Adjust size as needed */
    margin-right: 10px;
}


.form-containersc {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
    margin: 0 auto;
    background: linear-gradient(to right, #dcffba, #ffffff)
}


.form-groupsc {
    margin-bottom: 10px;
}

.labelsc {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0f0e0e;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 5px;
    border: 1px solid #d3dfcc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btnsc {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnsc:hover {
    background-color: #45a049;
}